// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #ffffff;

$theme-colors: (
    "light":      #b4d031,
    "dark":       #230043,
    "primary":    #543e33,
    "secondary":  #a36236,
    "info":       #838434,
    "success":    #539921,
    "warning":    #fdbc4e,
    "danger":     #ea1460,
);